/* setting up the root style */
*{
    /* my variables */
    --main-bordr-color: black;
    --main-bordr-style: solid;
    --main-bordr-width: medium;
    --main-border-radius: 0px;
    --main-bckgrnd: white;
    --main-color: darkblue;
    
    box-sizing: border-box;
}

/* overall setyle of the document */

body {
    font-family: Arial;
    margin: 0;
}

header {
    border-color: var(--main-bordr-color);
    border-style: var(--main-bordr-style);
    border-width: var(--main-bordr-width);
    background: var(--main-bckgrnd);
    color: var(--main-color);
    padding: 40px 60px;
    background-image: url(../Images/headder-img.PNG);
    background-size:contain;
    background-position: right;
    background-repeat: no-repeat;
    background-position-y: center;
    
}

header img{
    padding: 15px;
    display: block;
}

h1{
    font-size: x-large;
    padding: 20px;

}

h2{
    font-size: large;
    padding: 10px 5px;
}

nav{
    display:flex;
    justify-content: flex-end;
}

nav li{
    display: inline-block;
    padding: 10px;
    border-color: var(--main-bordr-color);
    border-style: var(--main-bordr-style);
    border-width: var(--main-bordr-width);
    background: var(--main-bckgrnd);
    color: var(--main-color);
}

main{
    display: grid;
    
}

section {
    padding: 35px;
}


footer{
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
}


/* settin up myWork section with its containers */

.container {
    border-color: var(--main-bordr-color);
    border-style: var(--main-bordr-style);
    border-width: var(--main-bordr-width);
    background: var(--main-bckgrnd);
    color: var(--main-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* update to variables */
.card {
    border-style: solid;
    border-width: 1px;
    margin:1em;
    padding: -10px;
    float: left; 
    width: 25em;
    height: 25em;
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: local;

    background-color:lightgrey;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

}


/* fix the code to correct its position */
.cardBox{
    border-color: var(--main-bordr-color);
    border-style: var(--main-bordr-style);
    border-width: var(--main-bordr-width);
    background: var(--main-bckgrnd);
    color: var(--main-color);
    width: 10em;
}
.card p {
    /* visibility: hidden; */
    background-color: lightgrey;
}

.contactMe {
    border-color: var(--main-bordr-color);
    border-style: var(--main-bordr-style);
    border-width: var(--main-bordr-width);
    background: var(--main-bckgrnd);
    color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.contactMe img {
    position: relative;
    padding: 0 3em;
    height: 9em;
}
.contactInfo{
    padding:10px 3em;
    margin: 20px;
}

/* id calls */
#card-1{
    background-image: url(../Images/IMG_01.JPG);
}
#card-2{
    background-image: url(../Images/IMG_02.JPG);
}
#card-3{
    background-image: url(../Images/IMG_03.JPG);
}
#card-4{
    background-image: url(../Images/IMG_04.JPG);
}
#card-5{
    background-image: url(../Images/IMG_05.JPG);
}

/* pseudo classes and elements go here */

.brk:hover{
    font-style: italic;
}

span[data-descr] {
    position: relative;
    cursor: help;
}

span[data-descr]:hover::after,

span[data-descr]:focus::after {
  content: attr(data-descr);
  position: absolute;
  left: 4em;
  top: 24px;
  min-width: 200px;
  border: 1px #aaaaaa solid;
  border-radius: 10px;
  background-color: #ffffcc;
  padding: 12px;
  color: #000000;
  font-size: 14px;
  z-index: 1;
}

button:hover{
    position: relative;
    cursor: help;
    border-color: red;
}

button:hover::after,
button:hover::after{
    position: absolute;
    left: 4em;
    top: 24px;
    min-width: 200px;
    border: 1px #aaaaaa solid;
    border-radius: 10px;
    background-color: #ffffcc;
    padding: 12px;
    color: #000000;
    font-size: 14px;
    z-index: 1;
}
button:active{
    border-color: purple;
}

/* media querries */

